@import "tailwindcss";

:root {
  --max: 1100px;
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title), serif;
}
